doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title alarm | ylxdzsw's blog
    script!=require("@nattoppet/zepto.js")
    script!=require("@nattoppet/vue.js")
    script(type="text/webworker")!=require("worker.coffee")
    script!=require("main.coffee")
body Waiting for permission...
