extends @nattoppet/ppt.jade

block head
    title Literature Survey of Network Anomaly Detection | ylxdzsw's blog

block body
    section.scen
        h1.title Literature Survey of Network Anomaly Detection

    section.scen
        .content
            h2 Table of Contents
            ol.key
                li.fx-plum.delay.short Paper Review

    section.scen
        .content
            h2 Network Fault Diagnosis Using Data Mining Classifiers
            p.light.
                <strong>Abstract:</strong> Mobile networks are under more pressure than ever before because of the
                increasing number of smartphone users and the number of people relying on mobile data networks. With
                larger numbers of users, the issue of service quality has become more important for network operators.
                Identifying faults in mobile networks that reduce the quality of service must be found within
                minutes so that problems can be addressed and networks returned to optimised performance. In
                this paper, a method of automated fault diagnosis is presented using decision trees, rules and
                Bayesian classifiers for visualization of network faults. Using data mining techniques the model
                classifies optimisation criteria based on the key performance indicators metrics to identify
                network faults supporting the most efficient optimisation decisions. The goal is to help wireless
                providers to localize the key performance indicator alarms and determine which Quality of
                Service factors should be addressed first and at which locations.

            ul
                li Eleni Rozaki of Cardiff University, ARICC 2015.
                li Definition of "anomaly": Call Drop Rate, Call success rate, Traffic Rate, and Handover Faulures of each cell
                li methods: classification with decision trees, association rules, and Bayes inference.

    section.scen
        .content
            h2 Detecting and Localizing End-to-End Performance Degradation for Cellular Data Services
            p.light.
                <strong>Abstract:</strong> Providing high end-to-end (E2E) performance is critical for cellular service
                providers to best serve their customers. Detecting and localizing E2E performance degradation is crucial
                for cellular service providers, content providers, device manufactures, and application developers to
                jointly troubleshoot root causes. To the best of our knowledge, detection and localization of E2E
                performance degradation at cellular service providers has not been previously studied. In this paper, we
                propose a holistic approach to detecting and localizing E2E performance degradation at cellular service
                providers across the four dimensions of user locations, content providers, device types, and application
                types. First, we use training data to build models that can capture the normal performance of every
                E2E-instance, which means flows corresponding to a specific location, content provider, device type, and
                application type. Second, we use our models to detect performance degradation for each E2E-instance on an
                hourly basis. Third, after each E2E-instance has been labeled as non-degrading or degrading, we use
                association rule mining techniques to localize the source of performance degradation. Our system detected
                performance degradation instances over a period of one week. In 80% of the detected degraded instances,
                content providers, device types, and application types were the only factors of performance degradation.
