extends @nattoppet/ppt.jade

block head
    title Literature Survey of Network Anomaly Detection | ylxdzsw's blog

block body
    section.scen
        h1.title Literature Survey of Network Anomaly Detection

    section.scen
        .content
            h2 Table of Contents
            ol.key
                li.fx-plum.delay.short Paper Review

    section.scen
        .content
            h2 Network Fault Diagnosis Using Data Mining Classifiers
            p.light.
                <strong>Abstract:</strong> Mobile networks are under more pressure than ever before because of the
                increasing number of smartphone users and the number of people relying on mobile data networks. With
                larger numbers of users, the issue of service quality has become more important for network operators.
                Identifying faults in mobile networks that reduce the quality of service must be found within
                minutes so that problems can be addressed and networks returned to optimised performance. In
                this paper, a method of automated fault diagnosis is presented using decision trees, rules and
                Bayesian classifiers for visualization of network faults. Using data mining techniques the model
                classifies optimisation criteria based on the key performance indicators metrics to identify
                network faults supporting the most efficient optimisation decisions. The goal is to help wireless
                providers to localize the key performance indicator alarms and determine which Quality of
                Service factors should be addressed first and at which locations.

            ul
                li Eleni Rozaki of Cardiff University, ARICC 2015.
                li

    section.scen
        .content
            h2 Detecting and Localizing End-to-End Performance Degradation for Cellular Data Services
