extends @nattoppet.assetpath/vue.jade

block head
    title Parameterized Types in Julia as a Language | ylxdzsw's blog
    style!= require("@nattoppet.assetpath/prism.css")
    script!= require("@nattoppet.assetpath/prism.js")

block body
    include:marked main.md
