extends @nattoppet/vue.jade

block head
    title Tensorflow Android Suck Note | ylxdzsw's blog
    style!= require("@nattoppet/prism.css")
    script!= require("@nattoppet/prism.js")

block body
    include:marked main.md
