extends @nattoppet.assetpath/vue.jade

block head
    title Tensorflow Android Suck Note | ylxdzsw's blog
    style!= require("@nattoppet.assetpath/prism.css")
    script!= require("@nattoppet.assetpath/prism.js")

block body
    include:marked main.md
