doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title About | ylxdzsw's blog

script!= require("main.coffee")
style!= require("main.scss")

article#main
    div#photo(style="width: 100px; height: 160px; font-size: 2rem; float: left; margin: 0 20px 10px 10px; padding: 20px; border: solid 1px") There will be a photo

    p.
        Here is the bref description

    h2 Find me on the Web

    p.
        I never tried to hide myself from the Internet since I know it's impossible. Here is a incomplete list of my
        online accounts.

    ul
        li My GPG fingerprint is <code>7246 706E 9F1E AE44 D4A5  37C4 40D8 0890 EB65 746D</code>
            |  (<a id="new_pub" download="EB65746D.pub" href="#">public key</a>). This is the ultimate identification of me
            | in the digital world. There is also a <a id="old_pub" download="A83BF777.pub" href="#">revoked key</a> and its
            | <a id="old_rev" download='A83BF777.rev' href="#">revocation certificate</a>.
        li My primary nickname is <code>ylxdzsw</code>. AFAIK there is not other man who use this id. Yes, it's
            |  unpronounceable even in Chinese. This id dates back to the childhood when my dad teach me surfing the
            | Internet hand-under-hand.
        li My Github id is <a href="https://github.com/ylxdzsw">ylxdzsw</a>, as you have probably known.
        li Stackoverflow: <a href="https://stackoverflow.com/users/4411558/%E5%BC%A0%E5%AE%9E%E5%94%AF"><sub style="vertical-align: baseline">张实唯</sub></a>
        li Google family feast: <a href="https://plus.google.com/u/0/116954865348183853032">ylxdzsw@gmail.com</a>
